@import "~antd/dist/antd.less";

@custom-height: 42px;
@valory-input-height: 42px;
@valory-primary: #7A00F4;
@valory-grey-1: #C4C4C4;
@valory-grey-2: #9A9A9A;
@valory-black: #141414;
@valory-white: #FFFFFF;
@valory-table-black: #1B1B1B;
@valory-red: #EA3324;

@font-size-base: 18px;
@border-radius-base: 5px;
@body-background: @valory-white;
@primary-color: @valory-primary;
@processing-color: @valory-primary;
@btn-height-base: @custom-height;
@btn-font-size-sm: 14px;
@input-placeholder-color: @valory-grey-2;
@input-border-color: @valory-grey-1;
@table-font-size: @font-size-base;
@table-header-color: @valory-table-black;
@layout-header-background: @valory-white;
@input-height-base: @valory-input-height;
@table-header-color: @valory-grey-2;

/* form */
.ant-form {
  label.ant-form-item-required {
    &::before {
      content: '' !important;
    }

    &::after {
      content: "*";
      display: inline-block;
      margin-left: 4px;
      color: @valory-red;
      font-size: 18px;
      line-height: 1;
    }
  }
}
